<!-- TOPO -->
<div class="container">
  <div class="row">
    <div class="col-6">
        <img id="logo" src="assets/icons/logo2.png" alt="Logomarca Corinthians">
    </div>
    <div class="col-6">
        <p class="destaque"> THE WORD'S LARGEST WEB DEVELOPER SITE </p>
    </div>
  </div>
  

<!-- MENU -->
<div class="container bg-verde-musgo">
  <div class="row">
    <div class="col-8">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="tabela.html">Tabela</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="formulario.html">Link 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http:www.google.com.br">Link 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="http:google.com.br">Link 1</a>
            </li>
          </ul>
    </div>
    <div class="col-4">
        <ul >
            <li> <a href="http:www.google.com"> Link 1</a></li>
        </ul>
      
    </div>
  </div>
</div>






<div class="container bg-verde-musgo">
  <div class ="menu-horizontal">
      
  </div>
  <div class ="menu-horizontal">
      
  </div>
</div>

<!-- CONTEUDO -->
<div class="container conteudo-fullscreen">
  <div class="menu-vertical bg-vert-branco">
    <div class="row">
      <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="http:www.google.com.br">Link 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http:www.google.com.br">Link 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http:www.google.com.br">Link 1</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      
  </div>
  
  <div>
      <h1>Título da Página</h1>
      <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
      
    </div> 
  </div>
</div>



<!-- RODAPE -->
<div>
  <p><i> 2018 - Todos os Direitos Reservados</i></p>
</div>

<!-- BOOTSTRAP -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>






